<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HeureLab</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="sun"></div>
        <div class="overlay"></div>
        <div class="overlay glitch"></div>

        <div class="content">
            <div class="tile time-tile">
                <h1 id="time">Time</h1>
            </div>

            <div class="tile stib-tile">
                <h1 id="time">Stib ?</h1>
            </div>

            <div class="tile grafana-tile1">
                <h1 id="time">Grafana 1</h1>
            </div>
            <div class="tile grafana-tile2">
                <h1 id="time">Grafana 2</h1>
            </div>
            <div class="tile grafana-tile3">
                <h1 id="time">Grafana 3</h1>
            </div>
            <div class="tile grafana-tile4">
                <h1 id="time">Grafana 4</h1>
            </div>

        </div>
    </body>
</html>